@import './base.css';

/* 해줌 컬러 팔레트 */
:root {
  /* Primary Colors */
  --color-primary: #E16349;
  --color-primary-light: #F0BBB1;
  --color-primary-lighter: #F3D7D0;
  --color-primary-lightest: #F7EBEB;
  
  /* Secondary Colors */
  --color-black: #000000;
  --color-gray-dark: #424242;
  --color-gray: #7F7F7F;
  --color-gray-light: #D0D0D0;
  --color-gray-lighter: #E4E4E4;
  --color-gray-lightest: #EFEFEF;
  --color-gray-bg: #F8F8F8;
  
  /* Background Colors */
  --color-bg-gray: #E1E1E1;
  --color-bg-light: #F8F8F8;
  --color-bg-white: #FFFFFF;
  
  /* Font Colors */
  --color-font-primary: #000000;
  --color-font-secondary: #7F7F7F;
  --color-font-white: #FFFFFF;
}

#app {
  max-width: 1920;
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-lightest);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }
}